<div class="heroes-viewer-wrapper">
  <h1>List of Heroes</h1>
  <form [formGroup]="searchForm">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" formControlName="searchText">
    </mat-form-field>
    <button mat-stroked-button (click)="search()">search</button>
  </form>
  <mat-list role="list">
    <mat-list-item *ngFor="let hero of heroes" role="listitem" (click)="goToDetail(hero.id)" class="hero-file">
      {{hero.name}}</mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <button mat-stroked-button (click)="add()">add</button>
</div>