<mat-card >
  <mat-card-header>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>Hero edit</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form action="save()" [formGroup]="form" >
      <p>

        <mat-form-field class="half-width" appearance="fill">
          <mat-label>Hero Name:</mat-label>
          <input matInput placeholder="Hercules" formControlName="name">
        </mat-form-field>
      </p>

      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Hero description:</mat-label>
        <textarea  matInput  formControlName="description"></textarea>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="save()">save</button>
    <button mat-stroked-button (click)="deleteDialog()">delete</button>
  </mat-card-actions>
</mat-card>