@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.heroes-viewer-wrapper {
  border: .1em solid #EEE;
  background-color: white;
  padding: 1em;
}

.container{  
  margin: 0;
  padding: 5em;
}

.spacer {
  flex: 1 1 auto;
}

.pull-right {
  margin: 1em;
  display: flex;
  justify-content: flex-end;
}
.search-button{
  margin: 1em ;
}